<h2>Create a new user</h2>

<%= form_for([:admin, @user]) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
    Minimum is 16 characters. The new user will be emailed this password
  </div>

  <div class="actions">
    <%= f.submit "Create User" %>
  </div>
<% end %>
