<!DOCTYPE html>
<html>
  <head>
    <title>RefugeeProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav">
      <header class="header">
        <h1>refugee_project.</h1>
      </header>
      <nav class="nav-login">
        <%= link_to "About Us", about_path %>
        <%= render partial: "layout/login" if !current_user %>
        Welcome, <%= current_user.first_name %>. Please <%= link_to "logout", logout_path, method: "destroy" %> <b>before</b> leaving.
      </nav>
    </nav>
    <% if flash[:success] %>
      <div class="notice"><%= flash[:success].html_safe %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="notice"><%= flash[:error].html_safe %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
