<!DOCTYPE html>
<html>
  <head>
    <title>RefugeeProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav">
      <header class="header">
        <h1>refugee_project.</h1>
      </header>
      <nav class="nav-login">
        <%= render partial: "layout/login" if user_signed_in? %>
      </nav>
    </nav>
    <% if flash[:success] %>
      <div class="notice"><%= flash[:success].html_safe %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="notice"><%= flash[:error].html_safe %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
